CONFIG_PATH=db

GOOGLE_CALENDAR_IDS=primary
GOOGLE_CALENDAR_LABELS=Main
GOOGLE_CALENDAR_COLORS=6

DASHBOARD_DB_PATH=${CONFIG_PATH}/database.db
GOOGLE_CALENDAR_CREDENTIALS_PATH=${CONFIG_PATH}/credentials.json
GOOGLE_CALENDAR_TOKEN_PATH=${CONFIG_PATH}/calendar_token.json
